*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #fff;
    align-items: center;
    justify-content: center;
}

#contenedor{
    width: 100%;
}

#encabezado{
    color: rgb(141, 141, 232);
    padding: 20px;
}

#seccion{
    padding: 30px;
    align-items: center;
    justify-content: center;
}

#pie{
    padding: 50px;
}

button {
    width: 150px;
    height: 32px;
    border: 3px solid #315cfd;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 12px;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    
  }
  
  
  button:hover {
    background: #315cfd;
    color: white;
    font-size: 20px;
  }

  #btnCargar{
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .radio-button-container {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  
  .radio-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  
  .radio-button__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .radio-button__label {
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative;
    font-size: 15px;
    color: #0c0c0c;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  
  .radio-button__custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #555;
    transition: all 0.3s ease;
  }
  
  .radio-button__input:checked + .radio-button__label .radio-button__custom {
    background-color: #4c8bf5;
    border-color: transparent;
    transform: scale(0.8);
    box-shadow: 0 0 20px #4c8bf580;
  }
  
  .radio-button__input:checked + .radio-button__label {
    color: #4c8bf5;
  }
  
  .radio-button__label:hover .radio-button__custom {
    transform: scale(1.2);
    border-color: #4c8bf5;
    box-shadow: 0 0 20px #4c8bf580;
  }

  #espacio-galeria {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
}

#galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    max-width: 800px; /* Ancho máximo */
    margin: 0 auto; /* Centrar horizontalmente */
}

.caja-imagen {
    text-align: center;
}

.caja-imagen img {
    width: 100px;
    height: 100px;
}

.caja-imagen small {
    font-weight: bold;
    color: #4c8bf5;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}



  #btnLimpiar{
    margin-left: 50px;
  }

  #seccion label{
    font-weight: bold;

  }

  #pie {
    font-weight: bold;
    gap: 8px;
  }

  #pie p{
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  #pie small{
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;
  }


